<!DOCTYPE html>
<html>
<head>
	<title>Inicio</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	  <!--head, with brand-->
	  	<div class="navbar navbar-header">
	  		<a class="navbar-brand" href="#">Photolog</a>
	  	</div>

	  	<!-- links and others -->
	  	<div class="collapse navbar-collapse">
	  		<ul class="nav navbar-nav">
	  			<li><a href="/">Inicio</a></li>
	  		</ul>
	  		<ul class="nav navbar-nav navbar-right">
	  			<li><a href="/registrar">Registrar</a></li>
	  			<li class="active"><a href="/iniciar">Iniciar</a></li>
	  		</ul>
	  	</div>
	  </div>
	</nav>
	<div id="main-container" class="container-fluid">
	<% provide(:title, "Log in") %>
	<h1>Log in</h1>
		<div class="row">
			<div id="content" class="col-md-6 col-md-offset-3">
				<%= form_for :session, url: '/iniciar' do |f| %>
					<p>
						<%= f.label :EMAIL_USUARIO%> <br>
						<%= f.text_field :EMAIL_USUARIO, class: 'form-control' %>
					</p>
					<p>
						<%= f.label :PASSWORD_USUARIO %> <br>
						<%= f.password_field :PASSWORD_USUARIO , class: 'form-control'%>
					</p>
					<p>
						<%= f.submit "Iniciar", class: "btn btn-primary"%>
					</p>
				<% end %>
				<p>Usuario nuevo? <li><a href="/registrar">Registrate Ahora</a></li></p>
			</div>
		</div>
	</div>
</body>
</html>
<style type="text/css">
	body {padding-top: 70px;}
</style>